# Multi-cell geolift analysis

In [1]:
import pandas as pd

import causalpy as cp
from causalpy.data.simulate_data import (
    generate_multicell_geolift_data,
)

In [2]:
%load_ext autoreload
%autoreload 2
pd.set_option("display.precision", 2)
seed = 42

---
## TEMP - generate data

This section will be removed once the synthetic data generation is implemented. Then we can just use `cp.load_data`.

In [3]:
df = generate_multicell_geolift_data()

In [4]:
df.to_csv("../../../causalpy/data/geolift_multi_cell.csv", index=True)

---

In [5]:
cp.load_data("geolift_multi_cell")

,time,Austria,Belgium,Bulgaria,Croatia,Cyprus,Czech_Republic,Denmark
0,2019-01-06,2.98,3.37,1.64,2.18,4.73,3.26,3.14
1,2019-01-13,3.02,3.17,1.52,1.90,4.83,3.38,3.19
2,2019-01-20,3.06,3.01,1.57,1.91,4.98,3.31,3.24
3,2019-01-27,3.04,3.00,1.64,2.12,5.01,3.38,3.18
4,2019-02-03,3.00,2.69,1.61,2.11,4.97,3.52,3.52
...,...,...,...,...,...,...,...,...
203,2022-11-27,2.70,3.81,1.67,2.35,4.62,3.15,3.26
204,2022-12-04,2.78,3.88,1.85,2.15,4.72,3.19,3.18
205,2022-12-11,2.80,3.61,1.45,2.20,4.70,3.26,3.33
206,2022-12-18,2.91,3.45,1.55,2.02,4.80,3.39,3.34
207,2022-12-25,2.94,3.43,1.54,2.13,4.91,3.17,3.48

In [6]:
df = (
    cp.load_data("geolift_multi_cell")
    .assign(time=lambda x: pd.to_datetime(x["time"]))
    .set_index("time")
)

treatment_time = pd.to_datetime("2022-01-01")
df.head()

,Austria,Belgium,Bulgaria,Croatia,Cyprus,Czech_Republic,Denmark
time,,,,,,,
2019-01-06,2.98,3.37,1.64,2.18,4.73,3.26,3.14
2019-01-13,3.02,3.17,1.52,1.90,4.83,3.38,3.19
2019-01-20,3.06,3.01,1.57,1.91,4.98,3.31,3.24
2019-01-27,3.04,3.00,1.64,2.12,5.01,3.38,3.18
2019-02-03,3.00,2.69,1.61,2.11,4.97,3.52,3.52

## Analysis 1 - individual cell analysis

The first analysis approach is to analyze each treated geo individually.

## Analysis 2 - aggregate cell analysis

The second analysis approach is to aggregate the treated geos and analyze them as a group.